@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
}

body a{
	text-decoration:none;
	color:#8C0003;
}

.utama{
	height:500px;
	width:100%;
}

.header{
	width:100%;
	height:165px;
}

.h-col1{
	position:absolute;
	margin-top:25px;
	margin-left:100px;
	float:left;
	z-index:1;
}

.h-col2{
	position:absolute;
	width:96%;
	height:60px;
	margin-top:4%;
	background-color:#5B0002;
	border:#003 medium solid;
	padding:15px;
	float:left;
}

.h-col2 span{
	margin-left:20%;
	font-size:42px;
	color:#FFF;
}

.menu{
	margin-top:15px;
	width:100%;
	height:150px;
}

.menu span{
	font-size:14px;
	font-weight:800;
	color:#8C0003;
	border:#003 thin solid;
	background-color:#FFF;
	padding:1%;
}

.menu_1{
	width:100px;
	height:100px;
	background:url(images/employee-1.jpg) center no-repeat;
	border-radius:50%;
	background-size:cover;
	border:medium #5B0002 solid;
	text-align:center;
	line-height:100px;
	vertical-align:middle;
	margin-left:27%;
	float:left;
	margin-top:20px;
	position:absolute;
	box-shadow:-5px 5px 7px #333;
}

.menu_2{
	width:130px;
	height:130px;
	background:url(images/employee-2.jpg) center no-repeat;
	border-radius:50%;
	background-size:cover;
	border:medium #5B0002 solid;
	text-align:center;
	line-height:130px;
	vertical-align:middle;
	margin-left:43%;
	margin-top:-10px;
	position:absolute;
	box-shadow:-5px 5px 7px #333;
}

.menu_3{
	width:100px;
	height:100px;
	background:url(images/employee-3.jpg) center no-repeat;
	border-radius:50%;
	background-size:cover;
	border:medium #5B0002 solid;
	text-align:center;
	line-height:100px;
	vertical-align:middle;
	margin-left:62%;
	position:absolute;
	margin-top:20px;
	box-shadow:-5px 5px 7px #333;
}

.menu_4{
	width:100px;
	height:100px;
	background:url(images/employee-4.jpg) center no-repeat;
	border-radius:50%;
	background-size:cover;
	border:medium #5B0002 solid;
	text-align:center;
	line-height:100px;
	vertical-align:middle;
	margin-left:80%;
	position:absolute;
	margin-top:20px;
	box-shadow:-5px 5px 7px #333;
}

.konten{
	width:97.2%;
	height:650px;
	margin-top:-100px;
	border-top:50px #5B0002 solid;
	border-left:medium #5B0002 solid;
	border-bottom:medium #5B0002 solid;
	border-right:medium #5B0002 solid;
	background-color:#FFF;
	padding:15px;
}

.pic-admin{
	position:absolute;
	margin-left:80%;
	margin-top:4.5%;
	background-color:#8C0003;
	padding:7px;
}
.nm-admin{
	line-height:65px;
	float:left;
	margin-right:10px;
	vertical-align:middle;
	font-size:18px;
	font-weight:900;
	color:#FFF;
}